h1, h2, h3 {
    font-family: 'Poppins';
}

p, #artist-view-link {
    font-family: 'Roboto';
}

.w-128 {
    width: 32rem;
}

.max-h-30 {
    max-height: 30rem;
}

.max-h-16 {
    max-height: 16rem;
}

.min-h-16 {
    min-width: 16rem;
}

.z-1 {
    z-index: 1;
}

.playlist-item-template {
    display: none;
}

.grid {
    display: grid;
}

.grid-space {
    grid-gap: 1rem;
}

.grid-col-repeat-200 {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
}

.grid-col-repeat-400 {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
}

.grid-row-repeat-400 {
    grid-template-rows: repeat(auto-fill, minmax(400px, 1fr))
}