h1, h2, h3 {
    font-family: 'Poppins';
}

p, #artist-view-link, input, label, .choices__list--single .choices__item, a {
    font-family: 'Roboto';
}

.comment-field li:last-child {
    border: none;
} 

/* 'custommade' tailwind classes */
.object-cover--custom {
    object-fit: cover;
}

.w-32--custom {
    width: 32rem;
}

.max-h-30--custom {
    max-height: 30rem;
}

.min-h-16--custom {
    min-width: 16rem;
}

.mt-04--custom {
    margin-top: 0.4rem;
}

.mr-3--custom {
    margin-right: 3rem;
}

.mb-6--custom {
    margin-bottom: 6rem;
}

.pin-b-60--custom {
    bottom: 60px;
}

.z-1--custom {
    z-index: 1;
}

.grid--custom {
    display: grid;
}

.grid-space-1--custom {
    grid-gap: 1rem;
}

.grid-col-repeat-250--custom  {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
}

/* loadingspinner */
.spinner {
    margin: 20px auto;
    display: block;
}

/* restyling of choices.js styling */
.choices__list--multiple .choices__item.is-highlighted,
.choices__list--multiple .choices__item {
    border-color: #424242;
    background-color: #424242;
    border-radius: 0.25rem;
}

.choices__item--disabled {
    display: none;
}

.choices__list--dropdown .choices__item--selectable {
    padding-right: 10px;
}