h1, h2, h3 {
    font-family: 'Poppins';
}

p, #artist-view-link {
    font-family: 'Roboto';
}

.w-128 {
    width: 32rem;
}

.z-1 {
    z-index: 1;
}

.playlist-item-template {
    display: none;
}

.grid {
    display: grid;
}

.grid-space {
    grid-gap: 1rem;
}

.grid-col-repeat-200 {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
}

.grid-col-repeat-400 {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
}